.kandyTickets {
    display: flex;
    flex-direction: column;
    padding: 1em;
    width: 14em;
    padding: 0.7rem;
    margin: 0.5rem 0;
}

.kandy {
    display: flex;
    flex-direction: column;
    padding: 1em;
    width: 14em;
    background-color: black;
    border: 1px dotted darkorange;
    padding: 0.7rem;
    margin: 0.5rem 0;
}

.search__Kandy {
    width: 28em;
}